table , tr,td{
    border:1px solid #333;
    border-collapse: collapse;
    margin:0 auto;
}

td{
    width:20px;
    height: 20px;
     /*background-color:green;*/
}
td.J{
    background:url("images/0.jpg");
}
td.L{
	background: url(images/1.jpg);
}
td.Z{
	background: url(images/2.jpg);
}
td.S{
	background: url(images/3.jpg);
}
td.T{
	background: url(images/4.jpg);
}
td.O{
	background: url(images/5.jpg);
}
td.I{
	background: url(images/6.jpg);
}
